[user]
	name = Chris Love
	email = christopherlove68@gmail.com
[github]
	user = CJLove

[merge]
	tool = meld
[color]
  ui = true
[color "branch"]
  current = yellow black
  local = yellow
  remote = magenta
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red reverse
  new = green reverse
  whitespace = white reverse
[color "status"]
  added = yellow
  changed = green
  untracked = cyan reverse
  branch = magenta
[push]
	default = matching
[pull]
	rebase = false
[core]
	editor = vim
